body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.search-field {
  border: none;
  border-radius: 50px;
  outline: none;
}

.search-field:hover {
  outline: none;
  border: none;
}

.search-box {
  border: 1px solid rgb(24, 26, 27);
  width: 385px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  border-right: none;
}

.search-button {
  padding: 10px 40px;
  margin-left: 29px;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
   /* border: 1px solid black;  */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.single-product {
  padding: 10px;
  transition: transform 0.6s linear;
  background-color: #fbfbfb;
  height: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(190, 188, 188);
}

.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid #00b1ff42;
  transform: scale(.95);
}

.product-image {
  width: 150px;
  height: 150px;
}

.buy-now {
  background-color: rgb(3 190 104);
  border:none;
}

.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

/* for responsive site */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
